

h1 {
    @media(min-width: 1200px ) {
        font-size: 64px;
    }
    
}
h2 {
    @media(min-width: 1200px ) {
        font-size: 48px;
    }
    
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Didot;
    color: #0B4470;
}
p {
    font-family: lato, sans-serif;
    color: black;
    @media(min-width: 1200px ) {
        font-size: 24px;
    }
}
.visually-hidden {
    visibility: hidden;
}
.center {
    text-align: center;
}
section {
    padding: 40px 0;
    @media(min-width: 768px) {
        padding: 75px 0;
    }
    @media(min-width: 1024px) {
        padding: 100px 0;
    }
}
.btn-primary {
    background-color: #0B4470;
    color: white;
    border-radius: 15px;
    padding: 15px 36px;
    font-size: 20px;
    border: 2px solid #0B4470;
    &:hover,
    &:focus {
        background-color: white;
        color: #0B4470;
        border: 2px solid #0B4470;
    }
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    border: 3px solid #0B4470;
    &:hover,
    &:focus {
        background-color: #D9D9D9;
      }
      @media(min-width: 768px) {
        left: 100px;
        right: unset;
      }
    img {
        width: 30px;
    }
  }
  
  
