.contact-us-section {
    background-color: #D9D9D9;
    
    .contact-us {
        max-width: 900px;
        margin: 20px auto 0;
        @media(min-width: 768px) {
            margin: 40px auto 0;
        }
        .form-group {
            
            margin-bottom: 20px;
            @media(min-width: 768px) {
                display: flex;
            }
            label {
                margin-right: 20px;
                
                @media(min-width: 768px) {
                    width: 20%;
                }
            }
            input, 
            textarea {
                width: 100%;
                border: none;
                padding: 7px;
            }
            
        }
        button {
            @media(min-width: 768px) {
                margin-left: 160px
            }
            
        }
    }
}