footer {
    margin-top: 75px;
    .footer-martel-logo {
        max-width: 125px;
    }
    .footer-mortgage-info {
        font-size: 20px;
        margin-bottom: 0;
    }
    .footer-mortgage-licence-info {
        font-size: 18px;
    }
    .lucas-burns-info {
        margin-top: 6px;
        .email {
            margin-top: 40px;
        }
        a {
            color: black;
        }
    }
    .martel-head-office {
        margin-top: 6px;
    }
    .footer-bottom {
        position: relative;
        .social-icons {
            position: absolute;
            bottom: 20px;
            right: 80px;
            display: flex;
            img {
                width: 100%;
                max-width: 30px;
                margin-left: 10px;
            }
            .social-icon {
                .black {
                    display: none;
                }
                &:hover, 
                &:focus {
                    .black {
                        display: block;
                    }
                    .color {
                        display: none;
                    }
                }
            }
            
        }
        .copyright {
            margin-top: 100px;
            p {
                font-size: 16px;
            }
            
        }
        
    }
    .martel-info {
        font-size: 18px;
    }
    
    
    
}