---
layout: layout.html
pagination:
    data: blogs
    size: 10
    alias: blogs
eleventyComputed: 
    title: "Blogs"
---
<main class="blogs-landing-page">
<div class="container"><div class="row">
<h1>Blogs</h2>
</div></div>
<section id='apply' class="applynow">
            <div class="container center apply">
                <h2>Apply Now</h2>
                <p>Get started now. Get pre-approved for a mortgage.</p>
                <p>Secure Online Application.</p>
                <a class='btn btn-primary' href='https://getmy.mortgage/yourfavottbrkr#/application-widget/welcome?locale=en-CA'>
                    Start Application</a>
            </div>
    </section>
    <section>
    <div class="container"><div class="row">
        
        {% for blog in blogs %}
                        <div class="blog--wrapper">
                            <div class="blog-img-wrapper">
                                <img src="{{ blog.fields.mainImage.fields.file.url }}" alt="{{ blog.fields.mainImage.fields.description }}"/>
                            </div>
                            <div class="blog-info-wrapper">
                                <p>{{ blog.fields.date | postDate }}</p>
                                <h2>{{ blog.fields.blogTitle }}</h2>
                                <p>{{ blog.fields.shortDescription | renderRichTextAsHtml | safe }}
                                <a href="/blog/{{ blog.fields.blogTitle | slug }}">Read full story</a>
                            </div>
                        
                    </div>
                    {% endfor %}
    </div></div>
    <div class="pagination">
        {% if pagination.href.previous %}
            <a class="btn btn-primary" href="{{pagination.href.previous}}">Previous</a>
        {% endif %}
        {% if pagination.href.next %}
            <a class="btn btn-primary" href="{{pagination.href.next}}">Next</a>
        {% endif %}
    </div>
    </section>
    <section class="subscribe">
            <div class="subscribe">
    <div class="container">
<div class="row">
    <div class="col-lg-6">
     <h2>Subscribe to my newsletter</h2>
    </div>
    <div class="col-lg-6 entry-form">
        <form
        action="https://formspree.io/f/manwwnwg"
        method="POST"
      >
      <div class="form-group">
        <label class="visually-hidden">Your email:</label>
        
            <input type="email" name="email" placeholder="Your email">
          
      </div>
        
        <!-- your other form fields go here -->
        <button class="btn btn-primary" type="submit">Subscribe</button>
      </form>
    </div>
  

</div>
</div>
</div>
    </section>
</main>
