---
layout: layout.html
---
<main class="page-content" aria-label="Content">
        <div class="header-title-img container">
            <div class="row">
                <h1 class="header-title">Providing services in <span class="header-bold">Ottawa</span> and throughout <span class="header-bold">Ontario</span></h1>
                <img class='lucas-burns-header-img' src="/img/lucasburns.png" alt='Lucas Burns' /> 
            </div>
        </div>
        <div class="martel-img-wrapper">
            <img class='martel-header-img' src="/img/martelimage.jpeg" alt=''/>
        </div>
        <section id='services' class="services center">
            <div class="container">
                <div class="row">
                <h2>Services Offered</h2>
                  <div class="col-lg-3">
                    <img class='service-logos' src='/img/refinanceicon.png' alt='' />
                    <h3>Mortgage Renewals</h3>
                  </div>
                  <div class="col-lg-3">
                    <img class='service-logos' src='/img/houselogo.png' alt='' />
                    <h3>Purchases</h3>
                  </div>
                  <div class="col-lg-3">
                    <img class='service-logos' src='/img/consolidationicon.png' alt='' />
                    <h3>Refinancing/Debt Consolidation</h3>
                  </div>
                  <div class="col-lg-3">
                    <img class='service-logos' src='/img/helocicon.png' alt='' />
                    <h3>HELOC</h3>
                    <p>Home Equity Line of Credit</p>
                  </div>
                  <a href='/mortgages' class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </section>
        <section id='apply' class="applynow">
            <div class="container center apply">
                <h2>Apply Now</h2>
                <p>Get started now. Get pre-approved for a mortgage.</p>
                <p>Secure Online Application.</p>
                <a class='btn btn-primary' href='https://getmy.mortgage/yourfavottbrkr#/application-widget/welcome?locale=en-CA'>
                    Start Application</a>
            </div>
        </section>
        
        <section class="mortgagecalc">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <h2>Mortgage Calculator</h2>
              </div>
              <div class="col-lg-7">
                <script src="https://www.ratehub.ca/scripts/rh-widget-loader.js" rh-title="Mortgage Payment Calculator" rh-frame-title="Ratehub.ca mortgage payment calculator" rh-widget-key="PaymentCalculator"></script>
                <div style="text-align:right; font-size:0.8em"><span style="font-family:sans-serif; color:#6a787c; display:inline-block;">powered by <img src="https://www.ratehub.ca/static/logo_ratehub_full_dark.svg" style="width:100%;vertical-align:text-top;" alt="Ratehub.ca "></span></div>
              </div>
            </div>
          </div>
            
            
        </section>
        <section class="subscribe">
            <div class="subscribe">
    <div class="container">
<div class="row">
    <div class="col-lg-6">
     <h2>Subscribe to my newsletter</h2>
    </div>
    <div class="col-lg-6 entry-form">
        <form
        action="https://formspree.io/f/manwwnwg"
        method="POST"
      >
      <div class="form-group">
        <label class="visually-hidden">Your email:</label>
        
            <input type="email" name="email" placeholder="Your email">
          
      </div>
        
        <!-- your other form fields go here -->
        <button class="btn btn-primary" type="submit">Subscribe</button>
      </form>
    </div>
  

</div>
</div>
</div>
        </section>
        <section class="about">
            <div class="container center">
                <h2>About Me</h2>
                <p>Thanks for stopping in! I'm Lucas. A Level 2 mortgage agent with Martel Mortgages that wants to make sure all your questions are answered, with the end goal of getting your mortgage funded.  I want your business and I want YOU to feel like YOU have received personal service from start to finish. ​​</p>
                <p class="about-signature">Lucas Burns</p>
            </div>
        </section>
        <section id='contact' class='contact-us-section'>
            <div class="container">
    <div class="row">
        <h2 class="center">Contact</h2>

        <form
                        action="https://formspree.io/f/xnnaaqey"
                        method="POST"
                        class="contact-us"
                        >
                        <div class="form-group">
                            <label>
                                Name:</label>
                                <input type="text" name="name">
                            
                        </div>
                        
                        <div class="form-group">
                            <label>
                                Phone:</label>
                                <input type="text" name="phone">
                            
                        </div>
                        
                        <div class="form-group">
                            <label>
                                Your email:</label>
                                <input type="email" name="email">
                            
                        </div>
                        
                        <div class="form-group">
                            <label>
                                Preferred method of contact:</label>
                                <input type="text" name="contact">
                            
                        </div>
                        
                        <div class="form-group">
                            <label>
                                Message/Question:</label>
                                <textarea name="message"></textarea>
                            
                        </div>
                        
                        <!-- your other form fields go here -->
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
    </div>
</div>

        </section>
        <section id='testimonials' class="testimonials">
            <div class="container">
                <div class="row g-2">
                    <h2 class="center">Testimonials</h2>
                    {% for testimonial in testimonials.slice(0,2) %}
                        
                            <div class="testimonial--wrapper col card">
                                <div class="testimonial-grid">
                                    <div class="teaser-grid__image">
                                          <img src="{{ testimonial.fields.image.fields.file.url }}" />
                                        </div>
                                        <div class="testimonial-grid__description">{{ testimonial.fields.shortDescription | renderRichTextAsHtml | safe }}</div>
                                        <div class="testimonial-grid__title">{{testimonial.fields.name}}</div>
                                        <a class="testimonial_link" href='/testimonials#{{ testimonial.fields.id }}'> Read full testimonial </a>
                                    
                                </div>
                              </div>
                        
                    {% endfor %}
                
                      <a href='/testimonials' class="see-all-link">See all testimonials
                        <img src="/img/rightarrow.png" alt="" />
                      </a>
                </div>
              </div>
        </section>
        <section id='blog' class="blogs">
            <div class="container">
                <div class="row">
                  <h2 class="center">Check out my Blog</h2>
                  
                    {% for blog in blogs.slice(0,1) %}
                    <div className="blog--wrapper card">
                        <div className="blog-teaser">
                                <div className="blog__image">
                                  <img src="{{ blog.fields.mainImage.fields.file.url }}?w=400" />
                                </div>
                                <div className="blog__date">{{ blog.fields.date }}</div>
                                <div className="blog__title">{{ blog.fields.blogTitle }}</div>
                                <div className="blog__description">{{ blog.fields.shortDescription | renderRichTextAsHtml | safe }}</div>
                                <a href=/blog/{{ blog.fields.blogTitle | slug }}>Read full story </a>
                        </div>
                      </div>
                    {% endfor %}
                  
                    
                      <a href='/blogs' class="see-all-link">See all blogs
                        <img src="/img/rightarrow.png" alt="" />
                      </a>
                </div>
              </div>
        </section>



          </main>
          <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>Lucas Burns</h2>
                    <p class="footer-mortgage-info">Mortgage Agent (Level 2)</p>
                    <p class="footer-mortgage-licence-info">Licence #M20001298</p>
                    <a href='https://martelmortgages.ca/'>
                        <img class='footer-martel-logo' src="/img/martellogo.jpeg" alt='martel logo'/>
                    </a>
                </div>
                <div class="martel-head-office center col-lg-4">
                    <h3>Head Office</h3>
                    <p class="martel-info">Martel Mortgages<br/>
                        FSCO # 13015<br/>
                        Building B3101 County Road 29<br/>
                        Brockville, ON K6V 5T4<br/>
                        1.855.320.2464 ext 118</p>
                    
                </div>
                <div class="lucas-burns-info center col-lg-4">
                    <h3>Telephone</h3>
                    <a href='tel:613-298-1522'>(613) 298-1522</a>
                    <h3 class="email">Email</h3>
                    <a href='mailto:lburns@martelmortgages.ca'>lburns@martelmortgages.ca</a>
                </div>
                <div class="footer-bottom">
                    <div class="copyright">
                        <p>Copyright © All Rights Reserved</p>
                    </div>
                    <div class="social-icons">
                        <a class="social-icon" href='https://www.facebook.com/search/top?q=lucas%20burns%20-%20martel%20mortgages%20-%20licensed%20mortgage%20agent'>
                            <img class="color" src="/img/facebook.svg" alt='facebook logo' />
                            <img class="black" src="/img/black-facebook.png" alt='facebook logo' />
                        </a>
                        <a class="social-icon" href='https://www.linkedin.com/in/lucas-burns-b74b14/'>
                            <img class="color" src="/img/linkedin.svg" alt='linkedin logo' />
                            <img class="black" src="/img/black-linkedin.svg" alt='linkedin logo' />
                        </a>
                        <a class="social-icon" href='https://www.instagram.com/lucasburnsmortgages/'>
                            <img class="color" src="/img/instagram.svg" alt='instagram logo' />
                            <img class="black" src="/img/black-instagram.png" alt='instagram logo' />
                        </a>
                    </div>
                </div>
               
            </div>
        </div>
    </footer>
          